.taskClass {
  display: flex;
  justify-content: space-between;
  padding: 10px 15%;
}
.btns {
  display: flex;
  padding: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid red;
  margin: 0 10%;
  padding: 0;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: red;
}
